.about-us {
  margin-top: 4rem;
  display: flex;
  background-color: $color-primary-light;

  &__info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    max-width: 50%;
  }

  &__description {
    font-size: $font-size-title-medium-large;
    line-height: 2;
    max-width: 50%;

    &::after {
      content: '';
      background-image: url('../../assets/Signature.svg');
      background-size: contain;
      background-repeat: no-repeat;
      margin-left: auto;
      display: block;
      width: 12rem;
      height: 8rem;
    }
  }

  &::after {
    content: '';
    display: block;
    background-image: url('../../assets/People.jpg');
    background-size: cover;
    background-position: left;
    background-repeat: no-repeat;
    width: 50%;
    min-height: 60rem;
  }
}
