.header {
  display: flex;

  &__title {
    font-size: $font-size-titles;
    text-align: center;
    line-height: $line-height-titles;

    &::after {// FIXME czy te ozdobniki wpisywać na sztywno?
      content: '';
      display: block;
      background-image: url('../../assets/Decoration.svg');
      background-size: contain;
      background-repeat: no-repeat;
      margin: 0 auto;
      margin-top: 1rem;
      margin-bottom: 4rem;
      width: 36%;
      height: 2.0625rem;
    }
  }

  &__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &::before {
    content: '';
    display: block;
    background-image: url('../../assets/Home-Hero-Image.jpg');
    background-size: cover;
    background-position: right;
    background-repeat: no-repeat;
    width: 45%;
    height: 80vh;
  }
}
