.three-columns {
  display: block;
  background-size: cover;
  background-repeat: no-repeat;
  margin-bottom: 1.5rem;

  &__columns {
    padding: 3rem;
    display: flex;
    justify-content: space-evenly;
  }
}
