.header {
  display: flex;

  &__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-width: 50%;
  }

  &::before {
    content: '';
    display: block;
    background-image: url('../../assets/Home-Hero-Image.jpg');
    background-size: cover;
    background-position: right;
    background-repeat: no-repeat;
    min-width: 50%;
    height: 60rem;
  }
}
