/* stylelint-disable plugin/stylelint-no-indistinguishable-colors */
$color-bg-light: #fff;
$color-primary-light: #f0f1f1;
$color-primary-dark: #5e5322;
$color-secondary: #fad648;
$color-neutral-1: #737373;
$color-neutral-2: #3c3c3c;
$color-success: #4caf50;
