// font-family

$font-base: 'Open Sans', sans-serif;
$font-alt: 'Merriweather', serif;

// font-size

$font-size-titles: 2.375rem;
$font-size-button: 1.125rem;
$font-size-button-medium: 0.875rem;
$font-size-button-large: 2.25rem;

// font-height

$line-height-titles: 3.4375rem;
