@import
  'settings/reset',
  'settings/fonts',
  'settings/colors',
  './buttons/buttons',
  './components/navigation',
  './components/homeHeader',
  './components/homeThreeColumns',
  './components/homeColumn',
  './components/decorationTitle',
  './components/homeSimpleSteps';

body {
  font-family: $font-base;
  color: $color-neutral-2;
}

.container {
  max-width: 1252px;
  margin: 0 auto;
}
